
#grid-container {
    display: flex;
    flex-wrap: wrap;
}


.grid-block {
    background-color: black;
    border-color: aqua;
    border-width: 1px;
    border-style: solid;
    width: 23px;
    height: 23px;
    margin: 0;
    padding: 0;
}

#rainbow-gtn, #clear-btn{
    margin: 5px;
}